list iteration-0
counter-0


Pattern printing-0
Chocolates-0

lego block-0
pascal triangle-0

Reading the data in console-0
list comprehension-0
map reduce and filter-0
data structure convresion

Swapping-0
reverse the words
fenced matrix
Move Vowels

return vs print

upgrad string

Pattern Probelms and Solution: https://www.youtube.com/watch?v=Kux7B1t_yeA&list=PLd3UqWTnYXOmHGIurNDgStXNOsxjItRAz

In [1]:
input_str = input()

12,50

In [13]:
input_str.split(',')[1]

['50']

In [22]:
m =15
c= 2

choc = m//c
w = m//c
wr = m//c

# 3-1
while w//3!=0:
    choc = choc+w//3
    w  = w//3 + w%3
    wr +=w
    
print(choc)
print(wr)

10
11

In [ ]:
# For: Know the number of times you need to run the loop
# While: When you know cretain condition is true

# Lego Stack



You are given a row of Lego Blocks consisting of n blocks. All the blocks given have a square base whose side length is known. You need to stack the blocks over each other and create a vertical tower. Block-1 can go over Block-2 only if sideLength(Block-2)=>sideLength(Block-1).

From the row of Lego blocks, you can only pick up either the leftmost or rightmost block.

Print "Possible" if it is possible to stack all n cubes this way or else print "Impossible".



Input Format:

The input will contain a list of n integers representing the side length of each block's base in the row starting from the leftmost.



Sample Input:

[5 ,4, 2, 1, 4 ,5]

Sample Output:

Possible

In [25]:
# You can pick one lego from one side either leftmost or rightmost
# block2 >= block1
# 1
# 2

l1 = [5 ,4, 2, 1, 4 ,5]
# [5] [4, 2, 1, 4 ,5]
# [5,5] [4, 2, 1, 4]
# [5,5,4] [2, 1, 4]
# [5,5,4,4] [2, 1]
# [5,5,4,4,2] [1]
# [5,5,4,4,2,1] []

l = [1,3,2]
# [][1,3,2]
# [2][1,3]
# [2,3][1]
# [2,3,1][]

t = []
while len(l)!=0:
    if l[0]>=l[-1]:
        t.append(l[0])
        l.remove(l[0])
    else:
        t.append(l[-1])
        l.remove(l[-1])
if t == sorted(t, reverse = True):
    print("Possible")
else:
    print("Impossible")

Impossible

In [27]:
sorted([1,3,2], reverse = True)

[3, 2, 1]

## Pascal's Triangle


A pascal's triangle is a very interesting mathematical concept.
Each number here is a sum of the two numbers directly above it.
Following is an 8 level Pascal's triangle:

<img src = https://upload.wikimedia.org/wikipedia/commons/c/ca/Pascal_triangle_small.png></img>


You can read about Pascal's triangle here.
Your task is to print an nth level of Pascal's triangle.
The input will contain an integer n.
The output will contain 1 line of the list of numbers representing the nth row of Pascal's triangle.

Sample Input:
6
Sample Output:

[1, 5, 10, 10, 5, 1]

In [32]:
def generate_pascal(rows):
    if rows ==1:
        return [[1]]
    else:
        triangle = [[1], [1,1]]
        row = [1,1]
        for i in range(2, rows):
            row = [1] + [sum(column) for column in zip(row[1:], row)] + [1]
            triangle.append(row)
        return triangle

In [44]:
generate_pascal(5)[4]

[1, 4, 6, 4, 1]

In [42]:
print(row[1:])
print(row)
row = [1,3,3,1]
list(zip(row[1:], row))

[3, 3, 1]
[1, 3, 3, 1]

[(3, 1), (3, 3), (1, 3)]

In [41]:
row[1:]

[3, 3, 1]

In [ ]:
row = [1,1]
[sum(i) for i in zip(row[1:], row)]

In [45]:
# List comprehension
# output
# Location from where it can get the input
# Conditional statement

ls = [1,2,3,4]
[i**2 for i in ls]

[1, 4, 9, 16]

In [53]:
l1 = [4,5,3,7,9,2,6,8]
l2 = [3,5,6,3,2,7,9,2]
l3 = []

[(i,j) if i>j else (j, i) for i,j in zip(l1, l2)]

[(4, 3), (5, 5), (6, 3), (7, 3), (9, 2), (7, 2), (9, 6), (8, 2)]

In [54]:
ls = [1,2,3,4,5]
[i**2 for i in ls if i%2==0]

[4, 16]

In [71]:
l1 = ["Ram", "Shyam", "Ravi", "Vinod"]
l2 = [["Ram", "CS"], ["Shyam", "ECE"], ["Vinod", "NA"]]

for i in l1:
    for j in l2:
        if i== j[0]:
            print(j[1])
        

[i for i in l1 for j in l2 if i in j]

CS
ECE
NA

['Ram', 'Shyam', 'Vinod']

In [75]:
# Map: Apply a certain function to each element of a list

ls = [1,2,3,4,5]
# [1,4,9,16,25]
# [i**2 for i in ls]

list(map(lambda x:x**2, ls))

[1, 4, 9, 16, 25]

In [76]:
ls = ["RANDOME1", "RANDOM2"]
list(map(lambda x:x.lower(), ls))

['randome1', 'random2']

In [78]:
## Filter: To filter some elements based on a condition

ls = [1,2,3,4,5,6]
list(filter(lambda x:x%2==0, ls))

[2, 4, 6]

In [79]:
ls = ['sumit', 1, 2, "Raj", 5]
list(filter(lambda x:type(x)==int, ls))

[1, 2, 5]

In [80]:
"sumit".isdigit()

False

In [84]:
"1".isdigit()

True

In [85]:
## Reduce: iterative process, applies a function iteratively on a list of elements and return one unique output

from functools import reduce
ls = [1,2,3,4,5,6]
reduce(lambda x,y: x+y, ls)

21

In [91]:
# Factoricals

# 3! = 3*2*1
# 4! = 4*3*2*1

n =0
if n==0:
    print(1)
else:
    print(reduce(lambda x,y:x*y, range(1,n+1)))

1

In [88]:
[i for i in range(1,n+1)]

[1, 2, 3]

In [94]:
generate_pascal(2)

[[1], [1, 1]]

def: Named function
lambda: Anonymous function

In [103]:
s = "[[1,2,3,4],5]"
type(s)

str

In [105]:
import ast
print(ast.literal_eval(s)[0])
print(ast.literal_eval(s)[1])

[1, 2, 3, 4]
5

In [98]:
s = input()

{'a':1, 'b':2, 'c':3}

In [100]:
type(s)

str

In [102]:
type(ast.literal_eval(s))

dict

In [106]:
ls = [1,2,3,4,5,6,7,8,9]

def return_even(a):
    b = [i for i in a if i%2==0]
    return b

In [114]:
l = [4,8,6,8,9]
print(return_even(l))

[4, 8, 6, 8]

In [115]:
from collections import Counter

In [116]:
ls = [1,2,3,1,2,3,6,4,5,7,4,2,5,7,8,4,2,5,7,5,4,3,2]
Counter(ls)

Counter({1: 2, 2: 5, 3: 3, 6: 1, 4: 4, 5: 4, 7: 3, 8: 1})

In [120]:
s = "abcdabdcgedsk;aiefmsna"
Counter(s).most_common(2)

[('a', 4), ('d', 3)]

In [121]:
ls = [1,2,3,4,5,6]

for i in ls:
    print(i)

1
2
3
4
5
6

In [125]:
ls = [1,2,3,4,5,6]

for i in range(0, len(ls)):
    print(i)

0
1
2
3
4
5

In [123]:
for i in enumerate(ls):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [2]:
a = list("abx")

In [1]:
list('abc')

['a', 'b', 'c']

In [ ]:
# dict
# str
# type
# True
# a
# b
# x

In [4]:
s = 6000
a = []
for i in str(s):
    a.append(int(i))
a

[6, 0, 0, 0]

In [5]:
for i in s:
    print(i)

TypeError: 'int' object is not iterable

In [15]:
# final =[0]*5
# [list(final) for i in range(5)]

# :-it is printing[5*5 matrix of zeoes

# and

# 2. 
final= [0]*5
out = []
for i in range(5):
    out.append(list(final))
out
# here getting only one row of 5 zero matrix

# [0,0,0,0,0]

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]